body {
    font-family: sans-serif;
    color: #CCCCCC;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    flex-direction: column;
    
}

.container-g {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    /*min-height: 100vh;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 90%; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    box-sizing: border-box;
    
}

.title {
    margin-bottom: 20px; 
    padding: 10px;
}

.text {
    text-align: left;
    width: 100%; 
    box-sizing: border-box;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.description {
    font-size: 1em;
    display: block;
}

.info-rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap; 
}

.personal-info {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%; 
    box-sizing: border-box;
    padding: 0 10px; 
}

.profile-image {
    margin-right: 10px;
    margin-left: 0; 
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    object-position: center;
}

.curse-description, .temario {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-sizing: border-box; 
    padding: 10px; 
    
}

.curse-description h2, .temario h2 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px; /* Tamaño de fuente más pequeño en pantallas chicas */
}

.curse-description p {
    color: rgba(60, 59, 59, 0.623);
    
}

.temario {
    background-color: rgba(250, 250, 250, 0); 
    
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}

.social-media {
    text-align: center;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.social-media-logo {
    width: 40px; 
    height: 40px;
    margin: 5px; 
}

.module-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
}

.module {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box;
}

.button-module {
    width: 100%;
    height: auto; 
    padding: 10px; 
    border-radius: 5px; 
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px; 
    text-align: center; 
    margin-bottom: 5px; 
}

.info-modulo {
    margin-left: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: bold;
    font-size: 18px; 
    box-sizing: border-box;
    padding: 0 10px;
}

.module-name {
    background-color: #fffefe;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px; 
}

.module-description {
    display: none;
    padding: 10px;
    border: 1px solid #9e9b9bec;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: black;
    font-weight: normal;
    font-size: 15px; 
}

.flecha {
    font-size: 0.8em;
}


/* Media queries para ajustar aún más en pantallas pequeñas */
@media (max-width: 500px) {
    .curse-description h2, .temario h2 {
        font-size: 20px;
    }
    .module-name, .info-modulo {
        font-size: 16px;
    }
}

/* Media queries para ajustar el info-rrss */
@media (min-width: 768px) {
    .info-rrss {
        flex-direction: row; /* Alineación horizontal en pantallas medianas y grandes */
        flex-wrap: nowrap; /* Evitar que los elementos se ajusten a varias líneas */
        justify-content: center; /* Centrar horizontalmente */
    }
    .info-rrss > * { 
        margin: 0 10px;
    }
}

@media (max-width: 767px) {
    .info-rrss {
        flex-direction: column; 
        align-items: center; 
    }
    .info-rrss > * { 
        margin: 10px 0;
    }
}
