body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; /* ¡Centrado vertical en el body! */
    align-items: center;
}

.container-g {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 95%;
    min-height: 200px;
    max-width: 980px;
    margin: 0 auto; 
    padding: 50px; 
    box-sizing: border-box; 
    max-height: 700px; 
}

.title {
    margin-bottom: 80vh; 
    padding: 20px;
}

.text {
    text-align: left; 
}

.name {
    font-size: 1.2em; /* Tamaño de fuente un poco mayor */
    font-weight: bold; /* Texto en negrita */
    display: block; /* Asegura que ocupe todo el ancho disponible */
}

.description {
    font-size: 1em; 
    display: block;
}

.info-rrss {
    display: flex;
    justify-content: center; 
    align-items: center;
    /*width: 100%;*/
    width: auto; 
    margin-bottom: 30px;
    margin-top: 350px
}

.personal-info {
    display: flex;
    align-items: center;
    text-align: left;
}

.profile-image {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    object-position: center;
}


.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}


.social-media {
    text-align: center; 
    margin-top: 0; 
    display: flex; 
    justify-content: center; 
}

.social-media-logo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}


.temario {
    margin-top: 20px; 
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding-top: 50px; 
    background-color: rgb(255, 252, 252); 
    padding-bottom: 50px;
    
}

.temario h2{
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 30px;

}

.module-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre los módulos */
}

.module {
    display: flex; 
    align-items: center; 
}

.button-module {
    width: 150px;
    height: 40px;
    border-radius: 30%;
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    color: white; /* Color del texto del botón */
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center; /* Centrar el texto verticalmente */
    align-items: center; /* Centrar el texto horizontalmente */
}

.info-modulo {
    margin-left: 10px;
    flex-grow: 1; /* Permite que la info se expanda */
    width: 150px;
    font-weight: bold;
    font-size: 23px;
}

.module-name {
    background-color: #fffefe; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Para la flecha */
    justify-content: space-between; /* Para la flecha */
    align-items: center; /* Para la flecha */
}

.module-description {
    display: none; /* Oculto inicialmente */
    padding: 10px;
    border: 1px solid #9e9b9bec;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: black;
    font-weight: normal;
    font-size: 17px;
}

.flecha{
    font-size: 0.8em;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .module-container {
        grid-template-columns: repeat(1, 1fr); /* 2 columnas en pantallas medianas */
    }
}
@media (max-width: 500px) {
    .module-container {
        grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
    }
}